<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<title>로그인</title>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function (){
            const errorMessage = [[${errorMessage}]];
            if (errorMessage != null){
                alert(errorMessage);
            }
            bindDomEvent();
        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function (){
                const fileName = $(this).val().split("\\").pop();
                let fileExt = fileName.substring(fileName.lastIndexOf(".")+1);
                fileExt = fileExt.toLowerCase();

                if (fileExt != "jpg" && fileExt !="jpeg" && fileExt !="gif" &&fileExt!="png", fileExt!="bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }
                $(this).siblings(".custom-file-label").html(fileName);
            });
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom: 15px;
        }
        .img-div{
            margin-bottom: 10px;
        }
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFromDto}">
        <p class="h2">
            상품 등록
        </p>

        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <select th:field="*{itemSellStatus}" class="custom-select">
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품명</span>
            </div>
            <input type="text" th:field="*{itemNm}" class="form-control" placeholder="상품명을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" th:field="*{price}" class="form-control" placeholder="상품의 가격을 입력세주세요">
        </div>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">재고</span>
            </div>
            <input type="number" th:field="*{stockNumber}" class="form-control" placeholder="상품의 재고를 입력세주세요">
        </div>
        <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품 상세 내용</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field="*{itemDetail}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError">Incorrect data</p>


    </form>

</th:block>


</html>